{%- for i in (1..lov) -%}
  <div class="pu-3">
    <div class="productinnerwrapper">
      <div class="noimg">
        {%-liquid
assign image_size = '300x'
assign img_url = 'placeholder.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.'
assign img_ratio = '0.75'
assign img_alt =  shop.name
-%}<div class="lazyload__image-wrapper no-js header-logo__image" style="max-width:100%;">
          <div style="padding-top:{{ 1 | divided_by: img_ratio | times: 100}}%;"><img
              class="lazyload js"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ img_ratio }}"
              data-sizes="auto"
              alt="{{ img_alt | escape }}"
              style="width:100%;"></div>
        </div>
        <noscript><img
            src="{{ 'placeholder.png' | asset_img_url: image_size }}"
            srcset="{{ 'placeholder.png' | asset_img_url: image_size }} 1x, {{ 'placeholder.png' | asset_img_url: image_size, scale: 2 }} 2x"
            alt="{{ img_alt | escape }}"
            style="max-width:auto;"></noscript>
      </div>
      <p class="prodcut_title">Product {{ i }}</p>
    </div>
  </div>
{%- endfor -%}