<div class="pu-sm-6 pu-md-6 pu-lg-3 pu-xl-3 pu-xxl-3" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
<div class="collectioninnerwrapper"><meta itemprop="position" content="{{forloop.index}}"/>
 <a href="{{product.url}}" data="{{product.featured_image.aspect_ratio}}">
{%-if product.featured_image != blank-%}
  <div class="call-wrap" style="position:relative">
  {%-assign pcr = product.compare_at_price | minus:product.price | times:100 | divided_by:product.compare_at_price -%}
  {%-if pcr > 0 -%}
  <div class="off-per">
  <span>{{pcr}}% OFF</span>
  </div>
  {%-endif-%}
{%-liquid
assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
assign img_alt = product.featured_image.alt | default: shop.name
assign image_size = '300x'
-%}<div class="lazyload__image-wrapper no-js header-logo__image" style="max-width:100%;"><div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;"><img class="lazyload js" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ product.featured_image.aspect_ratio }}" data-sizes="auto" alt="{{ img_alt | escape }}" style="width:100%;"></div></div><noscript><img src="{{ product.featured_image | img_url: image_size }}" srcset="{{ product.featured_image | img_url: image_size }} 1x, {{ product.featured_image | img_url: image_size, scale: 2 }} 2x" alt="{{ img_alt | escape }}" style="max-width:auto;"></noscript><p class="collection_prodcut_title">{{product.title | strip_html | truncate: 30}}</p><div class="btn-cntr">
   
<div class="review-widget">
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
</div>
  <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
  <button type="submit" value="Submit" class="re-prodcut_price"><span class="btn-txt">BUY NOW</span><span class="btn-price">{{product.price|money}}</span> <span class="btn-img"><img  alt="button icon" src="{{ 'btn-icon.svg' | asset_url }}"></button>
</form>
  </div>
  </div>
{%-else-%}
<div>
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
</div>
<div class="noimg">
{%-liquid
assign image_size = '300x'
assign img_url = 'placeholder.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.'
assign img_ratio = '0.75'
assign img_alt =  shop.name
-%}<div class="lazyload__image-wrapper no-js header-logo__image" style="max-width:100%;"><div style="padding-top:{{ 1 | divided_by: img_ratio | times: 100}}%;"><img class="lazyload js" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ img_ratio }}" data-sizes="auto" alt="{{ img_alt | escape }}" style="width:100%;"></div></div><noscript><img src="{{ 'placeholder.png' | asset_img_url: image_size }}" srcset="{{ 'placeholder.png' | asset_img_url: image_size }} 1x, {{ 'placeholder.png' | asset_img_url: image_size, scale: 2 }} 2x" alt="{{ img_alt | escape }}" style="max-width:auto;"></noscript></div><p class="collection_prodcut_title">{{'Product'}}</p><div class="btn-cntr"><a class="re-prodcut_price" href="{{product.url }}"><span class="btn-txt">BUY NOW</span><span class="btn-price">{{product.price|money}}</span> <span class="btn-img"><img  alt="button icon" src="{{ 'btn-icon.svg' | asset_url }}"></span></a></div>
{%- endif -%}
</a>
</div>   
</div>

<style>
  .review-widget{
    position: absolute;
    left: 15%;
    height: 25px;
    overflow: hidden;
  }
  .collection_prodcut_title{
    height: 25px;
    overflow: hidden;
  }
</style>