{%- if predictive_search.performed -%}
  <div class="pure-g">
    <div class="pu-12">
      <ul class="no-bullets my-search-results" data_s="{{predictive_search.resources.size}}">
        {%- if predictive_search.resources.products.size > 0 -%}
          <li class="secl pu-lt">
            <label>Products</label>
          </li>
        {%- else -%}
          <li class="secl pu-lt">
            <label>No Products Found.</label>
          </li>
        {%- endif -%}
        <div class="results-wrapper">
          {%- for product in predictive_search.resources.products -%}
            <li class="secl pu-sm-12 pu-lg-6">
              <a href="{{ product.url }}">
                <div class="search-result-item">
                  <div class="thumbnail">
                    <img src="{{ product.featured_media | img_url: '100x' }}" />
                  </div>
                  <div>
                    <div class="title">{{ product.title }}</div>
                    <div>
                      {{ product.price | money_without_trailing_zeros }}</div>
                  </div>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </div>
      </ul>
    {%- else -%}
      <ul class="search-results">
        <li class="secl pu-lt">
          <label>No Products Found.</label>
        </li>
      </ul>
    </div>
  </div>
{%- endif -%}


<style>
  .my-search-results {
    width: 100%;

  }
  .results-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .search-result-item {
    display: flex;
    align-items: center;
  }
</style>