<link
  href="{{-'glide.css'|asset_url-}}"
  rel="stylesheet"
  type="text/css"
  media="all" />
<script src="{{-'glide.js' | asset_url-}}"></script>
<div class="wrapper">
  <div is="em-product">
    <div class="pure-g">
      <div class="pu-12 pu-md-ct pu-lg-ct pu-xl-ct pu-xxl-ct"></div>
    </div>
    <div class="pure-g">
      <div class="pu-sm-12 pu-md-12 pu-lg-6 pu-xl-6 pu-xxl-6">
        {%- render 'product-images', product: product -%}
      </div>
      <div class="pu-sm-12 pu-md-12 pu-lg-6 pu-xl-6 pu-xxl-6">
        <form
          action="/cart/add"
          method="post"
          enctype="multipart/form-data"
          id="AddToCartForm">
          {%- render 'product-info', product: product -%}
        </form>
        <div class="product_dec">
          <!-- <p>{{ product.metafields.custom.bynature_sort_dic }}</p> -->
          <span class="gummies">{{ product.metafields.custom.gummies_count }}</span>
          <div class="accordion-container">
            <div class="set">
              <a href="javascript:void(0)" class="active">
                BENEFITS
                <i class="icon icon-plus"></i>
              </a>
              <div class="content">
                <div class="pure-g">
                  {%- for benefit in product.metafields.custom.benefits.value -%}
                    {%- assign curtag = benefit | handleize -%}
                    {% assign curtag_img = curtag | append: '.png' %}
                    <div class="pu-md-6 pu-sm-12">
                      <div class="benf-box">
                        <div class="benf-icon">
                          <img src="{{ curtag_img | file_url }}">
                        </div>
                        <div class="benf-cnt">
                          {{ benefit }}
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="set">
              <a href="javascript:void(0)">
                STORE IT RIGHT
                <i class="icon icon-plus"></i>
              </a>
              <div class="content">
                <p>{{ product.metafields.custom.store_it_right }}
                </p>
              </div>
            </div>
            <div class="set">
              <a href="javascript:void(0)">
                {{ product.metafields.custom.tab_title_three }}
                <i class="icon icon-plus"></i>
              </a>
              <div class="content">
                <p>{{ product.metafields.custom.daily_dosage }}</p>
              </div>
            </div>
          </div>
          <!-- <div class="lst-tab">
          <span>DAILY DOSAGE</span>
          <p>{{ product.metafields.custom.daily_dosage }}</p>
          </div>-->
        </div>
      </div>
    </div>

  </div>
</div>
{% schema %}
  {
    "name": "Benefits",
    "class": "benefits",
    "settings": [],
    "blocks": [
      {
        "name": "Benefits",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "ben_img",
            "label": "Benefits Image"
          }, {
            "type": "text",
            "id": "ben_ttl",
            "label": "Benefits Name"
          }

        ]
      }
    ]
  }
{% endschema %}
<style>
  .prddesc li {
    list-style: none;
    position: relative;
  }
  .prddesc li::before {
    background-color: var(--colorPrimary);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 3px;
    height: 8px;
    width: 8px;
  }
  .prddesc .head {
    font-weight: 900;
    color: var(--colorPrimary);
  }
  .icon-bag4:before,
  .icon-bag8:before,
  .icon-bag12:before {
    font-size: 120px;
  }
  .bicon-wrapper {
    border: 1px solid var(--colorBorder);
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    display: block;
    cursor: pointer;
  }
  .selector-wrapper {
    position: absolute;
    display: none;
  }
  .accordion-container {
    height: auto;
    margin: 10px auto;
    border-bottom: 1px solid #ddd;
  }
  .accordion-container > h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  .set {
    position: relative;
    width: 100%;
    height: auto;
  }
  .set > a {
    display: block;
    padding: 18px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    border-top: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .set > a i {
    float: right;
    margin-top: 2px;
  }
  .set > a.active {
    color: #555555;
  }
  .content {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
    padding-left: 25px;
  }
  .content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }
  .product_dec p {
    padding: 25px 0;
    color: #555555;
  }
  .product_dec {
    margin-top: 30px;
  }
  .gummies {
    font-weight: bold;
  }
  .benf-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
  }
  .lst-tab {
    padding-left: 16px;
    color: #555555;
  }
  .lst-tab p {
    padding: 15px 0;
  }
</style>
<script>
  $(document).ready(function() {
    $(".set > a").on("click", function() {
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this).siblings(".content").slideUp(200);
        $(".set > a i").removeClass("icon-minus").addClass("icon-plus");
      } else {
        $(".set > a i").removeClass("icon-minus").addClass("icon-plus");
        $(this).find("i").removeClass("icon-plus").addClass("icon-minus");
        $(".set > a").removeClass("active");
        $(this).addClass("active");
        $(".content").slideUp(200);
        $(this).siblings(".content").slideDown(200);
      }
    });
  });
</script>
<script>
  Shopify.product = {{ product | json }};
</script>
<script
  src="{{-'product.js'|asset_url-}}"
  type="text/javascript"
  defer></script>